/*phan giua*/
#buttons button {
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 10px;
}

.content {
    height: 800px;
}

#buttons {
    margin-left: 30px;
}

#right p {
    font-size: 15px;
    margin-left: 70px;
    font-weight: normal;
}

#image {
    margin-left: 120px
}

.content {
    display: flex;
}

#left {
    margin-top: 50px;
    margin-left: 70px;
    flex: 1;
}

#right {
    margin-top: 50px;
    flex: 4;
    margin-left: 250px;
}

/*----------------*/
.filters-container {
    background-color: #f8f8f8;
    /* Màu nền nhẹ */
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.filters-header {
    font-size: 24px;
    font-weight: bold;
    /* Màu sắc nổi bật */
}

.checkbox-label {
    margin-right: 15px;
}

.slider {
    width: 100%;
}

/* Nút Apply */
.apply-button {
    background-color: #FF4081;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.hamburger {
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
}

#grouptime {
    display: flex;
    align-items: center;
    gap: 50px;
}

#rating {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* Thay đổi màu sắc của label khi checkbox được chọn */
.custom-checkbox input:checked+label {
    color: #4CAF50;
    /* Màu chữ khi được chọn */
    font-weight: bold;
    /* Đậm chữ khi được chọn */
}

#type {
    display: flex;
    align-items: center;
    gap: 50px;
}

.toggle-button {
    color: #FF4081;
    font-size: larger;
}

.rating-checkbox input:checked+span::before {
    content: '★';
    /* Hiển thị sao vàng */
    color: gold;
    /* Màu vàng */
}

.rating-checkbox input {
    display: none;
    /* Ẩn checkbox mặc định */
}
